[Unit]
Description=Viper Celery Beat Service
After=network.target

[Service]
Type=simple
User=pydev
Group=pydev
EnvironmentFile=/srv/src/dj_viper/var/etc/conf.d/celery
WorkingDirectory=/srv/src/dj_viper/viper
ExecStart=/bin/sh -c '${CELERY_BIN} beat  \
  -A ${CELERY_APP} --pidfile=${CELERYBEAT_PID_FILE} \
  --logfile=${CELERYBEAT_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL}'

[Install]
WantedBy=multi-user.target
